{% extends "dn_base.html" %}

{% block title %}合同管理{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width"/>
<script src="../../static/scripts/contract/tips_record.js"></script>
{% endblock %}

{% block content %}
<div class="panel-body" >
    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default" onclick="update_remind()">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp取消过期提醒
        </button>
    </div>
    <table id="tb_tips_contract"></table>
</div>

{% endblock %}